.kotak{
	background: url("../img/baru.png")no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%;
}

.form-container{
	position: absolute;
	top: 15vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	background-color: #214E8C;
	opacity: .8;
	color: #FFFFFF;
}

@media only screen and (max-width: 678px){
	.kotak{
		background-size: 300%;
	}
}
